.title-testimoni{
    font-size: 48;
    color: #D10000;
}

.konten-testimoni{
    width: 650px;
    text-align: justify;
    font-size: 20px;
    margin-top: 20px;
}

.nama-testimoni{
    font-size: 30px;
}

.wayang-testimoni{
    position: absolute;
    right: -100px;
    transform: rotate(-25deg);
    overflow-x: hidden;
}