.explore-container{
    width: 1000px;
    height: 300px;
    background-color: #D10000;
    border-radius: 20px;
    margin: 100px auto;
    position: relative;

}

.explore-content{
    text-align: center;
    padding: 70px;

}

.explore-content h1{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.explore-content button {
    width: 230px;
    height: 46px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    color: #D10000;
    margin-top: 10px;
    transition: all ease-out 0.2s;
}

.explore-content button:hover {
    width: 230px;
    height: 46px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    color: #fff;
    margin-top: 10px;
    border: solid #fff;
    background-color: transparent;
    
}

.img1-explore {
    position: absolute;
    top: -10px;
    left: 40px;
}

.img2-explore {
    position: absolute;
    bottom: -10px;
    right: 100px;
}