.card-container {
    width: 395px;
    height: 600px;
    border: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}


.btn-rekomendasi button{
    background-color: #D10000;
    width: 125px;
    height: 37px;
    border: none;
    margin-bottom: 20px;
    transition: all ease-out 0.3s;
}


.btn-navlink-rec{
    color: #f3f3f3;
    text-decoration: none;
}

.btn-navlink-rec:hover{
    background-color: transparent;
    color: #D10000;
    text-decoration: none;
}

.btn-rekomendasi button:hover{
    width: 125px;
    height: 37px;
    border: none;
    margin-bottom: 20px;
    border: solid #D10000;
    color: #D10000;
    background: transparent;
    color: #D10000;
    
}
