.container-package {
    position: relative;
    text-align: center;
}

.content-package h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 96px;
  font-weight: 600;
  color: #fff;
  display: block;
}






