.card-formreservasi {
    margin: auto;
    width: 807px;
    height: 1000px;
    left: 316px;
    top: 175px;
    background-color: white;
    padding: 150px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 50px;
}

.text-formreservasi {
    padding-bottom: 5px;
    text-align: center;
}

.garis-bawah-reservasi {
    background: #D10000;
    width: 300px;
    height: 5px;
    margin: auto;
    margin-bottom: 43px;
}

.card-foto-formreservasi {
    background-color: #D10000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 67px;
    
  }

.img-formreservasi {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.text-foto-formreservasi {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #F3F3F3;
    font-size: 30,
}

.btn-formreservasi {
    background-color: #D10000;
}